/* Header Formatting */
head {
    margin: 0% 0% 0% 0%;
}
/* Body Formatting */
body {
    margin: 0px 0px 0px 0px;
    background-color: #212221;
    height: 100%;
}
/* Navigation Bar */
    /* Logo */
.nav #logo {
    width: auto;
    height: 6.384vw;
    overflow: hidden;
    margin-top: -0.399vw;
    margin-bottom: -0.399vw;
}
    /* File Paths */
.nav ul {
    list-style-type: none; 
    font-size: 1.33vw;
    background-color: #1181B2;
    font-family: 'Newsreader', serif;
    text-align: center;
    overflow: hidden;
    margin: 0% 0% 0% 0%;
}
.nav li {
    float: left;
    text-align: center;
}
.nav li a {
    display: block;
    color: black;
    padding: 2.3275vw 3.99vw 2.3275vw 3.99vw;
    text-decoration: none;
}
.nav li a:hover,.nav a.active {
    color: #DDEDF4;
    background-color: #212221;
}

/* Logo Link Padding */
#logo-link {
    padding: 0%;
}

/* Page Header Visuals */
h1 {
    text-align: center;
}
h1 span {
    font-size: 2.66vw;
    color: #DDEDF4;
    background-color: #212221;
    padding: 0.9975vw;
    width: 13.3vw;
    font-family: 'Newsreader', serif;
    font-weight: normal;
    border-style: solid;
}

/* Home Page Container */
#welcome-container {
    position: relative;
    text-align: center;
}
#home-page-header {
    position: absolute;
    margin-top: 4%;
    left: 41%;
    right: 40%;
    z-index: 1;
}
#galaxy-background {
    position: relative;
    width: 100%;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}
#welcome-content {
    color: #DDEDF4;
    font-size: 2.66vw;
    font-family: 'Source Sans Pro', sans-serif;
    background: rgb(33, 34, 33);
    background: rgba(33, 34, 33, 0.8);
    padding: 0.665vw;    
    margin: 0.3325vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: #44449B solid 0.133vw;
}

/* Projects Page */
#projects-container {
    position: relative;
    text-align: center;
}
#projects-page-header {
    position: absolute;
    margin-top: 4%;
    left: 41%;
    right: 40%;
    z-index: 1;
}
#sunset-background {
    width: 100%;
    transform: scaleX(-1);
    z-index: -2;
}
#projects-content {
    position: absolute;
    top: 34%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:  'Source Sans Pro', sans-serif;
    font-size: 3.325vw;
    color: #DDEDF4;
    padding: 1.995vw;
    background: rgb(33, 34, 33);
    background: rgba(33, 34, 33, 0.65);
}
    /* Link To Vault */
#vault-portal {
    position: absolute;
    bottom: 12.5%;
    left: 24%;
    margin-right: 24%;
}
#vault-portal button {
    border: #DDEDF4 solid 0.1995vw;
    background-color: #44449B;
    border-radius: 999px;
}
#vault-portal button a {
    display: block;
    color: #DDEDF4;
    font-size: 2.3vw;
    font-family: 'Newsreader', serif;
    padding: 1.995vw 2.99vw 1.995vw 2.99vw;
    text-decoration: none;
}
#vault-portal button:hover {
    border: #44449B solid 0.3325vw;
    background-color: #DDEDF4;
    border-radius: 999px;
    transition: 200ms;
}
#vault-portal button a:hover {
    color: #44449B;
}
/* Vault Page */
/* Encryption Assignment Buttons */
.buttons-2 {
    font-size: 1.5295vw;
    font-family: 'Newsreader', serif;
    padding: 2% 5% 2% 5%;
    color: #DDEDF4;
    background-color: #1181B2;
    border: #DDEDF4 solid 0.1995vw;
    width: 15vw;
    height: 5.8vw; 
}
.buttons-2:hover {
    cursor: pointer;
    color: #DDEDF4;
    background-color: #44449B;
    border: #DDEDF4 solid 0.1995vw;
    transition: 200ms;
}
#encrypt {
    position: absolute;
    left: 12.9vw;
    top: 9.5vw;

}
#decrypt {
    position: absolute;
    right: 12.9vw;
    top: 9.5vw;
}

/* Button Assignment */
.vault {
    background-color: #44449B;
}
#button-assignment {
    padding: 3% 5% 1% 5%;
    text-align: center;
}
    /* Button Assignment Header */
#button-header {
    font-size: 1.33vw;
    font-family: 'Newsreader', serif;
    padding: 0.5% 0% 0.5% 0% ;
    background-color: #1181B2;
    color: #DDEDF4;
    border: #DDEDF4 solid 0.1995vw;
    margin: 0% 32.5% 4% 32.5%;
}
.buttons {
    font-size: 1.5295vw;
    font-family: 'Newsreader', serif;
    padding: 2% 5% 2% 5%;
    color: #DDEDF4;
    background-color: #212221;
    border: #DDEDF4 solid 0.1995vw;
    width: 20vw;
    height: 5.8vw; 
    margin: 4% 5% 4% 5%;
}
    /* Button Hover Properties */
.buttons:hover {
    color: #212221;
    background: #DDEDF4;
    border: #212221 solid 0.1995vw;
    transition: 300ms;
    cursor: pointer;
}
#answer-box {
    color: #212221;
    background: #DDEDF4;
    border: #212221 solid 0.1995vw;
    height: fit-content;
}
#answer-box:hover {
    color: #DDEDF4;
    background-color: #212221;
    border: #DDEDF4 solid 0.1995vw;
}
    /* Button Active Properties */
.buttons.active.focus, .buttons.active, 
.buttons.focus, .buttons:active.focus, 
.buttons:active:focus, .buttons:focus, 
.buttons.active:focus {
    outline: none;
    box-shadow: none;
    color: #DDEDF4;
    background-color: #1181B2;
    border: #DDEDF4 solid 0.1995vw;
    transition: 0ms;
}

/* The End!! */